/* For computer screens */
@media only screen and (min-width: 900px){
    body {
	margin: 0 auto;
    }

    /* Increase font size on larger screens. */
    h1 {
	font-size: 28pt;
    }

    textarea {
	width: 400px;
    }
    
    /* Header image styling for 10Bsp18 page. */
    .intro54sp21 img {
	width: 26%;
	float: left;
	margin-right: 4%;
    }

    /* Header image styling for 285sp22 page. */
    .intro285sp22 img {
	width: 54%;
	float: right;
	margin-left: 2%;
    }
    
    /* Header image styling for 10Bsp18 page. */
    .intro10Bsp18 img {
	float: left;
	margin-right: 4%;
    }

    /* Header image styling for 54su17 page. */
    .intro54su17 img {
	float: left;
	margin-right: 4%;
    }

    /* Header image styling for main page */
    .intro img {
	max-width: 21%;
	margin-top: -5px;
	/* max-width: 19%; */
    }

    .intro {
	margin-bottom: 10px;
    }
}

/* For phones and tablets */
@media only screen and (max-width: 900px) {
    /* Decrease font size on smaller screens. */
    h1 {
	font-size: 25pt;
    }

    textarea {
	width: 95%;
	max-width: 400px;
    }

    /* Header image styling for 54su17 page. */
    .intro54sp21 img {
	width: 100%;
	max-width: 300px;
    }

    /* Header image styling for 285sp22 page. */
    .intro285sp22 img {
	width: 100%;
    }
    
    /* Header image styling for main page. */
    .intro img {
	width: 42%;
	max-width: 175px;
	margin-top: -5px;
    }

    .intro {
	margin-bottom: 10px;
    }
}

/* Don't take up all the space on large screens. */
body {
    max-width: 875px;
    margin-bottom: 50px;
}

h1, h2, h3, p, li, table {
    font-family: palatino, verdana, tahoma, geneva, sans-serif;
}

h1 {
    margin-top: 5pt;
    padding-bottom: 0px;
    margin-bottom: 25px;
    border-bottom: 2px solid black;
}

h2 {
    font-variant: small-caps;
    font-size: 14pt;
    margin-bottom: 0pt;
    margin-top: 20pt;
    border-bottom: 1px solid gray;
}

p, li {
    font-size: 14pt;
}

table {
    font-size: 12pt;
}

ul li {
    padding: 3px 0px;
}

textarea {
    height: 60px;
    border: 1px solid #000;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 12pt;
    font-family: verdana;
}

textarea:focus {
    box-shadow: 0 0 5px #9ecaed;
    border: 1px solid darkblue;
}


a {
  color: #800020;     /* maroon */
  text-decoration: none;
}

a:visited {
  color: #800020;     /* same maroon for visited */
}

a:hover {
  color: #af0000;     /* your hover red (or adjust) */
  cursor: pointer;
  border-bottom: 1px gray dotted;
}

a:visited { color: #5a0015; }

details {
    background-color: #d9edff;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-right: 15px;
}

details summary { 
  cursor: pointer; /*Change cursor to pointer when hovering over details element.*/
}

details summary > * {
    display: inline;
}

/* Homepage header image styling */
.intro img {
    float: left;
    /*max-width: 23%;/*21%;*/
    margin-right: 3%;
    /* border-radius: 10%; */
    border-radius: 30%;
}

/* Qual transcript header image styling */
.qual_intro img {
    max-width: 100%;
    margin-top: 2%;
}

/* Homepage research list image styling. */
.research img {
    float: right;
    max-width: 40%;
    margin-left: 5%;
    border-radius: 5%;
}

/* 54sp21 header styling. Prevents image from escaping header. */
.intro54sp21 {
    padding-bottom: 1px;
}

/* 10Bsp18 header styling. Prevents image from escaping header. */
.intro10Bsp18 {
    padding-bottom: 1px;
}

.intro54su17 {
    padding-bottom: 1px;
}

.schedule54su17 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.schedule54su17 table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}

.schedule54su17 td, .schedule54su17 th {
    padding: 10px;
    border: 1px solid gray;
}

.schedule54su17 tr.header {
    border-bottom: 2px solid black;
    background-color: #FFFF66;
}

.schedule54su17 tbody tr:nth-child(10n+2), .schedule54su17 tbody tr:nth-child(10n+1), .schedule54su17 tbody tr:nth-child(10n+3), .schedule54su17 tbody tr:nth-child(10n+4), .schedule54su17 tbody tr:nth-child(10n+5) {
    background-color: lightblue;
}

.schedule54su17 tbody tr:nth-child(10n+6), .schedule54su17 tbody tr:nth-child(10n+7), .schedule54su17 tbody tr:nth-child(10n+8), .schedule54su17 tbody tr:nth-child(10n+9), .schedule54su17 tbody tr:nth-child(10n) {
    background-color: lightgreen;
}

.schedule54su17 tbody tr:nth-child(12), .schedule54su17 tbody tr:nth-child(21), .schedule54su17 tbody tr:nth-child(40) {
    background-color: red;
    color: white;
    font-weight: bold;
}

.schedule54su17 tbody tr:nth-child(12) td:nth-child(1), .schedule54su17 tbody tr:nth-child(12) td:nth-child(4), .schedule54su17 tbody tr:nth-child(12) td:nth-child(5), .schedule54su17 tbody tr:nth-child(12) td:nth-child(6), .schedule54su17 tbody tr:nth-child(12) td:nth-child(7) {
    background-color: blue;
}

table {
    border: 2px solid black;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border: 1px solid gray;
}

tr.header {
    border-bottom: 2px solid black;
}

